<!-- <a routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a><br> -->
<!-- if the child componet active route also apply active css of parent component so use routerLinkActiveOptions -->

<a routerLink="home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a><br><br>
<a routerLink="about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">about</a><br><br>
<a routerLink="product/1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Product</a><br><br>
<a routerLink="products" [queryParams]="{name:'',price:''}" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Products</a><br><br>
<a routerLink="login"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Login</a><br><br>
<a routerLink="login" [queryParams]="{logout:true}"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">LogOut</a>
<router-outlet ></router-outlet>

<div class="overlay" *ngIf="showLoader">
  <div class="loader"></div>
</div>
